h1 {
  font-size:5vw;
  font-family: 'Press Start 2P';
  text-decoration: underline;
  text-decoration-style: double;
}
h2 {
  font-size:3vw;
  font-family: 'Press Start 2P';
  color:blue;
  text-decoration: underline;
}

p{
  color: black;
  font-family: 'Roboto Mono';
  font-size: 2vw;
}

a.home {
  color: black;
  text-decoration: underline;
  text-decoration-style: double;
}
a.home:visited{
  color: black;
  text-decoration: underline;
  text-decoration-style: double;
}
a.home:active{
  color:black;
  text-decoration: underline;
  text-decoration-style: double;
}
a.home:hover{
  color:white;
  text-decoration: underline;
  text-decoration-style: double;
}
a.menu {
  color: blue;
}
a.menu:visited{
  color: blue;
}
a.menu:active{
  color:black;
}
a.menu:hover{
  color:white;
}

.col-sm-6{

}

#sidebar{
  text-align: right;
  margin-top: 5%;
  margin-bottom: 5%;
}
#about-me{
  margin-top: 7%;
  text-align: left;
  padding-right: 10%;
}
