h1 {
  font-size:4vw;
  font-family: 'Press Start 2P';
  text-decoration: underline;
  text-decoration-style: double;
}
h2 {
  font-size:2vw;
  font-family: 'Press Start 2P';
  color:blue;
  text-decoration: underline;
}

p{
  color: black;
}

a.home {
  color: black;
  text-decoration: underline;
  text-decoration-style: double;
}
a.home:visited{
  color: black;
  text-decoration: underline;
  text-decoration-style: double;
}
a.home:active{
  color:black;
  text-decoration: underline;
  text-decoration-style: double;
}
a.home:hover{
  color:white;
  text-decoration: underline;
  text-decoration-style: double;
}
a.menu {
  color: blue;
}
a.menu:visited{
  color: blue;
}
a.menu:active{
  color:black;
}
a.menu:hover{
  color:white;
}

#pic{
  padding-right: 5vw;
}

#sidebar{
  text-align: right;
  padding-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}


.img-fluid{
  width: 60vw;
  height: 45vw;

}
